.venv
/.idea/misc.xml
/.idea/.gitignore
/.idea/modules.xml
/.idea/ProductRecOnStoreShelves.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
